@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #00609d;
  --secondary: #ffffff;
  --tertiary: #dfdfe1;
  --text-primary: #2c3e50;
  --text-secondary: #7f8c8d;

  --z-index-base: 1;
  --z-index-dropdown: 10;
  --z-index-sticky: 100;
  --z-index-modal: 1000;
  --z-index-toast: 1100;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark-disable-for-now) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.loader-wrapper{width:96px;height:96px;display:grid;place-items:center}
@keyframes blink{0%,100%{opacity:0}50%{opacity:1}}
.line{animation:blink 1.2s infinite ease-in-out;opacity:0}
.l1{animation-delay:0s}.l2{animation-delay:.12s}.l3{animation-delay:.24s}
.l4{animation-delay:.36s}.l5{animation-delay:.48s}.l6{animation-delay:.60s}
.l7{animation-delay:.72s}.l8{animation-delay:.84s}.l9{animation-delay:.96s}
.l10{animation-delay:1.08s}